

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
      @font-face {
          font-family: "Oswald";
          src: url("https: //fonts.googleapis.com/css2?family=Oswald:wght@400;700&display=swap");
        };
}

ul {
  list-style: none;
  padding: 0px;
  margin: 0px;
}

a {
  text-decoration:none;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


html,
body,
div,
span,
h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
address,
img,
strike,
ol,
ul,
li,
fieldset,
form,
label,
table,
tr,
th,
td,
article,
aside,
footer,
header,
nav,
output,
section {
  margin: 0;
  padding: 0;
  border: 0;
}


article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}



